<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Emergency Request</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-red-100 min-h-screen">

    <!-- Navbar -->

    <nav class="bg-red-700 text-white p-4 flex justify-between items-center">

        <h1 class="text-2xl font-bold">
            LifeLink AI
        </h1>

        <a href="/dashboard/"
           class="bg-white text-red-700 px-4 py-2 rounded-lg hover:bg-gray-100">
            Dashboard
        </a>

    </nav>

    <div class="max-w-6xl mx-auto p-10">

        <!-- Success Message -->

        {% if messages %}

            {% for message in messages %}

                <div class="bg-green-500 text-white p-4 rounded-lg mb-6">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}

        <!-- Request Form -->

        <div class="bg-white p-8 rounded-2xl shadow-lg mb-10">

            <h2 class="text-3xl font-bold text-red-700 mb-6">
                Emergency Blood Request
            </h2>

            <form method="POST"
                  class="grid grid-cols-2 gap-4">

                {% csrf_token %}

                <input type="text"
                       name="patient_name"
                       placeholder="Patient Name"
                       class="p-3 border rounded-lg"
                       required>

                <select name="blood_group"
                        class="p-3 border rounded-lg"
                        required>

                    <option value="">Select Blood Group</option>

                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                    <option>O+</option>
                    <option>O-</option>

                </select>

                <input type="text"
                       name="district"
                       placeholder="District"
                       class="p-3 border rounded-lg"
                       required>

                <input type="text"
                       name="hospital"
                       placeholder="Hospital Name"
                       class="p-3 border rounded-lg"
                       required>

                <input type="text"
                       name="contact_number"
                       placeholder="Contact Number"
                       class="p-3 border rounded-lg"
                       required>

                <textarea name="message"
                          placeholder="Emergency Details"
                          rows="4"
                          class="p-3 border rounded-lg col-span-2"></textarea>

                <button class="bg-red-600 text-white p-3 rounded-lg col-span-2 hover:bg-red-700">
                    Post Emergency Request
                </button>

            </form>
                {% if compatible_donors %}

    <div class="bg-blue-100 border-l-4 border-blue-600 p-6 rounded-xl mt-8">

        <h2 class="text-2xl font-bold text-blue-700">
            🤖 AI Blood Compatibility Result
        </h2>

        <p class="mt-3 font-semibold">
            Compatible Blood Groups:
        </p>

        <div class="flex flex-wrap gap-3 mt-4">

            {% for blood in compatible_donors %}

            <span class="bg-blue-600 text-white px-4 py-2 rounded-full">
                {{ blood }}
            </span>

            {% endfor %}

        </div>

    </div>
 
    {% if priority %}

        <div class="bg-yellow-100 border-l-4 border-yellow-600 p-6 rounded-xl mt-6">

            <h2 class="text-2xl font-bold text-yellow-700">
                🤖 AI Emergency Analysis
            </h2>

            <p class="text-xl mt-3 font-bold">
                Priority Level:
            </p>

            <p class="text-2xl mt-2">
                {{ priority }}
            </p>

        </div>
    {% endif %}
    
    {% endif %}

        </div>

        <!-- Recent Requests -->

        <h2 class="text-3xl font-bold text-red-700 mb-4">
            Recent Emergency Requests
                    {% if recommended_donors %}

        <div class="bg-green-100 mt-10 p-6 rounded-xl shadow-lg">

            <h2 class="text-3xl font-bold text-green-700 mb-5">
                🤖 AI Recommended Donors
            </h2>

            <div class="grid grid-cols-2 gap-4">

                {% for donor in recommended_donors %}

                <div class="bg-white p-5 rounded-xl shadow">

                    <h3 class="text-xl font-bold">
                        {{ donor.donor.full_name }}
                    </h3>

                    <p><strong>Blood:</strong> {{ donor.donor.blood_group }}</p>

                    <p><strong>District:</strong> {{ donor.donor.district }}</p>

                    <p><strong>Phone:</strong> {{ donor.donor.mobile }}</p>
                    
                    <p class="text-blue-700 font-bold">
                    AI Score : {{ donor.score }}%
                    </p>

                    <p class="text-yellow-600">
                    {{ donor.stars }}
                    </p>

                    <a href="tel:{{ donor.donor.mobile }}"
                    class="bg-green-600 text-white px-4 py-2 rounded-lg inline-block mt-3">
                        📞 Call
                    </a>

                </div>

                {% endfor %}

            </div>

        </div>

        {% endif %}
        </h2>

        <p class="text-lg font-semibold text-blue-700 mb-6">
            Total Requests: {{ requests|length }}
        </p>

        <div class="grid grid-cols-2 gap-6">

            {% for request_item in requests %}

            <div class="bg-white p-6 rounded-2xl shadow-lg border-l-8 border-red-600">

                <div class="flex justify-between items-center mb-4">

                    <h3 class="text-2xl font-bold text-red-700">
                        {{ request_item.patient_name }}
                    </h3>

                    <span class="bg-red-600 text-white px-3 py-1 rounded-full text-sm">
                        URGENT
                    </span>

                </div>

                <p class="mb-2">
                    <strong>Blood Group:</strong>
                    {{ request_item.blood_group }}
                </p>

                <p class="mb-2">
                    <strong>District:</strong>
                    {{ request_item.district }}
                </p>

                <p class="mb-2">
                    <strong>Hospital:</strong>
                    {{ request_item.hospital }}
                </p>

                <p class="mb-2">
                    <strong>Contact:</strong>
                    {{ request_item.contact_number }}
                </p>

                <p class="mb-4">
                    <strong>Message:</strong>
                    {{ request_item.message }}
                </p>

                <div class="flex gap-3">

                    <a href="tel:{{ request_item.contact_number }}"
                       class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700">
                        📞 Call
                    </a>

                    <a href="https://wa.me/88{{ request_item.contact_number }}"
                       target="_blank"
                       class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
                        💬 WhatsApp
                    </a>

                </div>

            </div>

            {% empty %}

            <div class="col-span-2 bg-white p-8 rounded-xl shadow-lg text-center">

                <h2 class="text-2xl text-gray-600">
                    No Emergency Requests Found.
                </h2>

            </div>

            {% endfor %}

        </div>

    </div>

</body>

</html>